@{
  Layout = "_Layout";
}

<h1>Pierre's Bakery Backend</h1>

<h2>Dashboard:</h2>
<p>From here, you can manage your shop.</p>
<ul>
  <li>Please note that only logged in users will be allowed to Create, Update, and Delete.</li>
  <li>However, anyone can view the treats and flavors!</li>
  <li>If you're a logged in user then there's a lot you can do.</li>
  <li>Don't have an account yet? Register for one now to get started!</li>
</ul>

<div class="btn btn-warning">@Html.ActionLink("View all Flavors", "Index", "Flavors")</div>
<div class="btn btn-danger">@Html.ActionLink("View all Treats", "Index", "Treats")</div>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>@Html.ActionLink("Logout", "Index", "Account")</p>